.Contacto{
    background-color: rgb(87, 142, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 10px;
}

.contacto-imagen img{
    width: 40vw;
}